<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TAING-실시간 인기Live 컴포넌트 </title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <script type="module" src="/src/main.js"></script> -->
  </head>
  <body class="text-white m-4
  bg-[var(--brand-dark-bg-1)]">
    <h1 class="text-2xl">실시간 인기 LIVE 컴포넌트 생성을 위한 페이지</h1>
    <div class="max-w-[15.3125rem] my-4">
      <h2 class="mb-4">실시간 라이브 무료 컨텐츠 컴포넌트</h2>
      <ul class="grid-block grid-cols-[repeat(5,1fr)] md:grid-cols-[repeat(6,1fr)] xl:grid-cols-[repeat(8,1fr)] gap-4">
        <li class="w-full aspect-video
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_1_ytn_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#ranking_1_svg__clip0_1448_25964)"><path d="M39.228 2.719c-2.356 6.128-5.723 11.812-17.646 12.878l-1.28 8.527H30.72l-9.43 62.881h14.816L48.746 2.72h-9.518z" fill="#fff"></path></g><defs><clipPath id="ranking_1_svg__clip0_1448_25964"><path fill="#fff" d="M0 0h58.453v87H0z"></path></clipPath></defs></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">Title</p>
              <p class="text-xs xl:text-xl text-gray-300">Sub Title</p>
              <p class="text-xs xl:text-xl text-gray-500">Viewer</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="max-w-[15.3125rem] my-4">
      <h2 class="mb-4">실시간 라이브 유료 컨텐츠 컴포넌트</h2>
      <ul class="grid-block grid-cols-[repeat(5,1fr)] md:grid-cols-[repeat(6,1fr)] xl:grid-cols-[repeat(8,1fr)] gap-4">
        <li class="w-full aspect-video
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_1_ytn_1080.webp" alt="" />
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#ranking_1_svg__clip0_1448_25964)"><path d="M39.228 2.719c-2.356 6.128-5.723 11.812-17.646 12.878l-1.28 8.527H30.72l-9.43 62.881h14.816L48.746 2.72h-9.518z" fill="#fff"></path></g><defs><clipPath id="ranking_1_svg__clip0_1448_25964"><path fill="#fff" d="M0 0h58.453v87H0z"></path></clipPath></defs></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">Title</p>
              <p class="text-xs xl:text-xl text-gray-300">Sub Title</p>
              <p class="text-xs xl:text-xl text-gray-500">Viewer</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <hr class="mb-4" />
    <div class="">
      <h2 class="mb-2 
        text-white text-xl md:text-2xl xl:text-4xl font-bold ml-4 md:ml-6 xl:ml-10 "
        >실시간 인기 LIVE</h2>
      <ul class="grid grid-cols-[repeat(5,1fr)] md:grid-cols-[repeat(6,1fr)] xl:grid-cols-[repeat(8,1fr)] gap-4 ml-4 md:ml-6 xl:ml-10">
        <li class="w-full aspect-video
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_1_ytn_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#ranking_1_svg__clip0_1448_25964)"><path d="M39.228 2.719c-2.356 6.128-5.723 11.812-17.646 12.878l-1.28 8.527H30.72l-9.43 62.881h14.816L48.746 2.72h-9.518z" fill="#fff"></path></g><defs><clipPath id="ranking_1_svg__clip0_1448_25964"><path fill="#fff" d="M0 0h58.453v87H0z"></path></clipPath></defs></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">YTN</p>
              <p class="text-xs xl:text-xl text-gray-300">뉴스웨어 10AM</p>
              <p class="text-xs xl:text-xl text-gray-500">41.2%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video 
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full ">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_2_chanal_a_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46.343 75.627h-26.82c1.989-13.26 29.988-28.18 32.998-48.245l1.073-7.154c1.505-10.033-5.313-16.925-17.047-16.925-14.205 0-22.895 7.939-24.57 19.106l-1.766 11.778h14.027l1.702-11.342c.746-4.973 3.948-7.503 7.742-7.503 3.353 0 5.712 1.92 4.913 7.242l-1.099 7.328c-2.212 14.744-31.612 25.475-35.76 53.13l-.537 3.578h43.495l1.649-10.993z" fill="#fff"></path></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">채널A</p>
              <p class="text-xs xl:text-xl text-gray-300">뉴스포커스</p>
              <p class="text-xs xl:text-xl text-gray-500">16.8%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video 
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_3_yonhap_news_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 69 103" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#ranking_3_svg__clip0_5769_58433)"><path d="M47.262 50.279l.123-.823c8.715-2.672 12.443-8.12 13.753-16.857l1.403-9.354c1.88-12.54-6.363-19.942-19.77-19.942-16.319 0-25.955 8.12-28.098 22.409l-1.958 13.054h16.214l1.927-12.849c.817-5.448 4.382-8.428 8.54-8.428 4.157 0 6.397 3.083 5.657 8.017l-1.465 9.765c-.817 5.448-2.219 9.252-9.286 9.252H22.557l.344 12.951h10.082c5.3 0 7.856 2.364 6.808 9.354l-1.789 11.924c-.986 6.578-4.359 9.662-8.724 9.662-4.158 0-7.171-2.775-6.323-8.429l2.497-16.652H8.927L6.398 80.191c-2.143 14.288 5.697 22.305 20.976 22.305 15.278 0 25.538-8.12 27.712-22.614l1.742-11.615c1.634-10.896-1.213-16.857-9.566-17.988z" fill="#fff"></path></g><defs><clipPath id="ranking_3_svg__clip0_5769_58433"><path fill="#fff" d="M0 0h68.867v102.5H0z"></path></clipPath></defs></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">연합뉴스TV</p>
              <p class="text-xs xl:text-xl text-gray-300">요즘 남자 라이프 신랑수업 154화</p>
              <p class="text-xs xl:text-xl text-gray-500">8.4%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video 
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_4_tvn_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#ranking_4_svg__clip0_1448_25961)"><path d="M49.008 4.545h-14.38C30.702 30.721 14.11 45.466 2.388 57.158L.856 67.366H29.53l-2.944 19.632H41.14l2.945-19.632h8.47L54.19 56.46h-8.47l3.887-25.914H45.55c-2.36 7.504-7.257 15.444-13.456 19.72l-.93 6.194H20.667l-.209-.96C34.033 43.81 45.687 28.452 49.008 4.545z" fill="#fff"></path></g><defs><clipPath id="ranking_4_svg__clip0_1448_25961"><path fill="#fff" transform="translate(.36)" d="M0 0h58.453v87H0z"></path></clipPath></defs></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">채널A</p>
              <p class="text-xs xl:text-xl text-gray-300">프리한 19 449</p>
              <p class="text-xs xl:text-xl text-gray-500">8.3%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video 
          transform transition ease-in-out duration-300 hover:-translate-y-2
          hidden md:block">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_5_ocn_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 60 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.98 41.102h-.794l5.818-26.435H50.71l2.973-10.992H17.506L8.153 47.209l13.407 2.966c1.262-2.53 3.288-4.275 6.641-4.275 3.53 0 5.522 2.007 4.907 6.107L30.57 68.932c-.615 4.1-3.563 6.107-7.004 6.107-3.706 0-6.114-2.18-5.367-7.154l2.015-13.435H6.184L4.43 66.14C2.323 80.188 8.89 86.993 21.684 86.993c13.147 0 21.857-6.893 23.872-20.328l2.408-16.053c1.65-10.992-3.15-16.052-10.562-16.052-5.647 0-10.376 2.704-13.422 6.543z" fill="#fff"></path></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">OCN</p>
              <p class="text-xs xl:text-xl text-gray-300">서복</p>
              <p class="text-xs xl:text-xl text-gray-500">7.3%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video 
        hidden md:block
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_6_jtbc_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.526 44.333h-.705l3.52-23.47c.51-3.402 3.02-6.02 6.901-6.02 3.529 0 5.685 2.095 4.926 7.155l-1.53 10.208h13.938L52.12 21.91C53.952 9.696 47.84 2.804 34.695 2.804c-12.086 0-21.213 7.328-23.254 20.939l-6.36 42.402c-2.093 13.96 4.46 20.852 17.428 20.852s21.844-7.416 23.78-20.329l1.937-12.912c1.635-10.906-3.954-16.577-11.188-16.577-6.175 0-10.021 2.705-13.511 7.154zm7.69 24.604c-.523 3.49-3.474 6.107-6.826 6.107-3.793 0-5.848-2.181-5.102-7.154l1.897-12.651c.615-4.1 3.49-6.805 6.931-6.805 3.617 0 5.77 2.704 5.155 6.805l-2.054 13.698z" fill="#fff"></path></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">JTBC</p>
              <p class="text-xs xl:text-xl text-gray-300">이혼숙려캠프 29화</p>
              <p class="text-xs xl:text-xl text-gray-500">5.7%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video hidden xl:block
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_7_tvn_drama_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 60 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.92 4.44l-1.65 10.993h25.06C18.89 37.769 11.213 63.073 7.64 86.892h14.559c4.093-24.343 13.323-49.995 30.556-73.117l1.4-9.336H13.92z" fill="#fff"></path></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">tvN DRAMA</p>
              <p class="text-xs xl:text-xl text-gray-300">그놈은 흑염룡 9화</p>
              <p class="text-xs xl:text-xl text-gray-500">5.4%</p>
            </div>
          </div>
        </li>
        <li class="w-full aspect-video hidden xl:block
          transform transition ease-in-out duration-300 hover:-translate-y-2">
          <div class="relative w-full">
            <img class="w-full object-cover rounded-sm" src="/src/assets/live_8_ocn_movies_1080.webp" alt="" />
            <div class="absolute 
              top-1 md:top-2 xl:top-4 left-1 md:left-2 xl:left-4 
              w-6 md:w-7 xl:w-10">
              <svg class="w-full" viewBox="0 0 54 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#label_free_svg__clip0_10140_56317)"><path fill="#000" fill-opacity="0.8" d="M0 0h54v36H0z"></path><path d="M25.12 8.438v9.306H8.58V8.438H25.12zM11.541 15.05h10.617v-3.918H11.542v3.918zm14.512 5.098v2.717H18.42v4.698H15.28v-4.698H7.646v-2.716h18.408zM45.361 17.722v2.56H28.623V13.07H42.2v-2.093H28.623V8.437H45.16v7.103H31.583v2.182h13.778zm.735 6.211v2.694H27.688v-2.694h3.85V20.95H34.5v2.983h4.808V20.95h2.938v2.983h3.85z" fill="#00E471"></path></g><defs><clipPath id="label_free_svg__clip0_10140_56317"><rect width="54" height="36" rx="4.5" fill="#fff"></rect></clipPath></defs></svg>
            </div>
            <div class="absolute left-0 bottom-0">
              <svg class="rounded-es-sm" width="145" height="2" viewBox="0 0 145 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="w-[2.125rem] md:w-[3.3125rem] xl:w-44 h-0.5 md:h-[.1875rem] xl:h-1" width="100%" height="100%" fill="#4763FF"/>
              </svg>
            </div>
          </div>
          <div class="flex
            my-2 xl:my-3">
            <svg class="h-[1.8687rem] md:h-9 xl:h-12 mt-2 md:mt-1.5 xl:mt-3" 
            viewBox="0 0 59 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.493 42.414l-.105.698c-6.601 1.657-11.207 7.067-12.41 15.093L3.42 68.588C1.6 80.715 9.04 86.997 21.923 86.997c12.881 0 22.118-6.282 23.937-18.41l1.557-10.382c1.31-8.724-1.765-13.523-8.059-15.093l.092-.611c6.68-2.181 10.514-7.154 11.613-14.483l1.243-8.288C53.773 9.958 47.61 2.804 34.552 2.804c-13.059 0-21.367 7.154-22.833 16.926l-1.243 8.288c-1.086 7.242 1.168 12.215 7.017 14.396zm18.809-11.866c-.642 4.275-2.851 7.242-6.998 7.242-3.97 0-5.555-2.967-4.914-7.242l1.296-8.637c.628-4.188 3.014-7.155 7.073-7.155 4.147 0 5.466 2.967 4.838 7.155l-1.295 8.637zm-4.919 36.906c-.667 4.45-3.168 7.59-7.668 7.59-4.235 0-6.058-3.14-5.39-7.59l1.806-12.04c.68-4.537 3.433-7.591 7.668-7.591 4.5 0 6.07 3.054 5.39 7.59l-1.806 12.04z" fill="#fff"></path></svg>
            <div class="ml-3 xl:ml-5">
              <p class="text-xs xl:text-xl text-gray-200 font-semibold">OCN Movies</p>
              <p class="text-xs xl:text-xl text-gray-300">보디가드</p>
              <p class="text-xs xl:text-xl text-gray-500">5%</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
  </html>