<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TAING-로그인 버튼 컴포넌트</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <script type="module" src="/src/main.js"></script> -->
  </head>
  <body class="m-4 bg-black text-white">
    <h1 class="text-2xl font-bold">login-button 컴포넌트 페이지</h1>
    <div class="login-button mt-4">
      <h2>로그인하기 버튼</h2>
      <button class="w-2xs md:w-[26rem] xl:w-[45.75rem] h-[2.625rem] md:h-[3.125rem] xl:h-[5.375rem]
      rounded-sm
      bg-[var(--brand-blue-1)] hover:bg-[var(--brand-blue-3)] 
      text-xs md:text-base xl:text-xl text-white font-semibold" type="submit">로그인하기</button>
    </div>
    <div class="check-button mt-4">
      <h2>확인 버튼</h2>
      <button class="w-2xs md:w-[26rem] xl:w-[45.75rem] h-[2.625rem] md:h-[3.125rem] xl:h-[5.375rem]
      rounded-sm
      bg-gray-700 active:bg-gray-100 hover:bg-white 
      text-xs md:text-base xl:text-xl text-gray-400 active:text-black hover:text-black font-semibold " type="button">확인</button>
    </div>
    <div class="identify-button mt-4">
      <h2>본인인증하기 버튼</h2>
      <button class="w-2xs md:w-[26rem] xl:w-[45.75rem] h-[2.625rem] md:h-[3.125rem] xl:h-[5.375rem]
      rounded-sm
      bg-gray-100 text-black hover:bg-white 
      text-xs md:text-base xl:text-xl font-semibold" type="button">본인인증하기</button>
    </div>
    <div class="no-border-button mt-4">
      <h2>테두리 없는 버튼</h2>
      <button class="w-[10.625rem] 
      text-sm md:text-base xl:text-xl text-gray-300 hover:text-white"
      href="/">Text</button>
    </div>
  </body>
</html>
