<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TAING - Original 컴포넌트</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous"/>
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <script type="module" src="/src/main.js"></script> -->
  </head>
  <body class="bg-(--gray-800) m-20">
    <div class="min-w-[31.25rem]">
      <h2 class="mb-3 text-white">타잉 오리지널</h2>
      <ul class="grid sm:grid-cols-[repeat(4,1fr)] md:grid-cols-[repeat(5,1fr)] lg:grid-cols-[repeat(6,1fr)] xl:grid-cols-[repeat(7,1fr)] gap-4">
        <!-- 김성근의 겨울방학 -->
        <li class="w-full h-auto">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/kim_origin.webp" alt="김성근의 겨울방학" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/kim_title_origin.webp" alt="김성근의 겨울방학 제목" />
            </div> 
          </div>
        </li>
        <!-- 춘화 연애담 -->
        <li class="w-full h-auto">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/chunhwa_origin.webp" alt="춘화 연애담" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/chunhwa_title_origin.webp" alt="춘화 연애담 제목" />
            </div> 
          </div>
        </li>
        <!-- 스터디 그룹 -->
        <li class="w-full h-auto">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/study_origin.webp" alt="스터디 그룹" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/study_title_origin.webp" alt="스터디 그룹 제목" />
            </div> 
          </div>
        </li>
        <!-- 원경 -->
        <li class="w-full h-auto">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/onekyung_origin.webp" alt="원경" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/onekyung_title_origin.webp" alt="원경 제목" />
            </div> 
          </div>
        </li>
        <!-- 서복 -->
        <li class="w-full h-auto hidden md:block">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/seobok_origin.webp" alt="서복" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/seobok_title_origin.webp" alt="서복 제목" />
            </div> 
          </div>
        </li>
        <!-- 술꾼도시여자들2 -->
        <li class="w-full h-auto hidden lg:block">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/citygirl_origin.webp" alt="술꾼도시여자들2" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/citygirl_title_origin.webp" alt="술꾼도시여자들2 제목" />
            </div> 
          </div>
        </li>
        <!-- 크라임씬 -->
        <li class="w-full h-auto hidden xl:block">
          <div class="relative w-full transform transition ease-in-out duration-300 hover:-translate-y-2">
            <img class="w-full  object-cover rounded-sm" src="/src/assets/crime_origin.webp" alt="크라임씬" />
            <div class="absolute bottom-5 ">
              <img class="w-1/2 relative bottom-2 left-1/2 transform -translate-x-1/2" src="/src/assets/original_logo.svg" alt="타잉 오리지널 로고" />
              <img class="w-full h-auto" src="/src/assets/crime_title_origin.webp" alt="크라임씬 제목" />
            </div> 
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>